[SddmGreeterTheme]
Name=Rosé Pine Glass
Description=Editable Rosé Pine login theme for Sanguinius
Author=sheke; Keyitdev
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
ConfigFile=theme.conf
MainScript=Main.qml
Theme-Id=rose-pine-glass
Theme-API=2.0
QtVersion=6
